<div class="container">
    <table id="user">
        <thead>
            <tr>
                <th>Class/cert</th>
                <th>categories(major)</th>
                <th>categories2(major)</th>
                <th>question</th>
                <th>Ans1(A)</th>
                <th>Ans2(B)</th>
                <th>Ans3(C)</th>
                <th>Ans4(D)</th>
                <th>Ans</th>
                <th>Hint</th>
                <th>Explanation</th>
                <th>Duration(seconds)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{class}}</td>
                <td>{{categories}}</td>
                <td>{{categories2}}</td>
                <td>{{question}}</td>
                <td>{{ans1}}</td>
                <td>{{ans2}}</td>
                <td>{{ans3}}</td>
                <td>{{ans4}}</td>
                <td>{{ans}}</td>
                <td>{{hint}}</td>
                <td>{{explanation}}</td>
                <td>{{duration}}</td>
            </tr>
        </tbody>
    </table>
</div>